<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <!-- <bean id = "emailMessageSender"
          class = "com.nhnacademy.edu.springframework.messagesender.service.EmailMessageSender"
          init-method="init" destroy-method="destroy">
    </bean> -->

    <bean id = "smsMessageSender"
          class = "com.nhnacademy.edu.springframework.messagesender.service.SmsMessageSender"
          scope="prototype" init-method="init" destroy-method="destroy">
    </bean>

    <bean id = "messageSendService"
          class = "com.nhnacademy.edu.springframework.messagesender.service.MessageSendService" >
            <qualifier type="com.nhnacademy.edu.springframework.messagesender.custom_qualifier.SMS"/>
    </bean>

    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />

</beans>
